<div class="month-title">{{month}}</div>
<table class="month">
    <tr>
        <th>Book</th>
        <th>Standard price</th>
        <th>EPUB size in MB</th>
        <th>Instance cost</th>
        <th>Users granted access</th>
        <th>Cost</th>
    </tr>
    {{rows}}
    <tr>
        <td class="plain"></td>
        <td class="plain"></td>
        <td class="plain"></td>
        <td class="plain"></td>
        <td class="plain total">Total usage cost:</td>
        <td class="plain">{{total}}</td>
    </tr>
</table>